<%
function sizeString(size){
    return size == 'big_size' ? 'Велика' : (size == 'small_size' ? 'Маленька' : null);
}
%>
<div class="pizza-cart-card">
    <img src="<%= pizza.icon %>" alt="<%= pizza.title %>" class="pizza-cart-img">
    <span class="pizza-cart-title"><%= pizza.title %> (<%= sizeString(size) %>)</span>
    <div class="pizza-cart-info">
        <div class="pizza-cart-price"><%= pizza[size].price %>грн</div>
    </div>
    <% if(editable) { %>
    <div class="pizza-cart-count">
        <button class="btn btn-danger minus">-</button>
        <span class="label label-default pizza-cart-quantity"><%= quantity %></span>
        <button class="btn btn-success plus">+</button>
        <button class="btn btn-info delete">x</button>
    </div>
    <% } else { %>
    <div class="pizza-cart-count pizza-cart-const">
        <span class="label label-default pizza-cart-quantity"><%= quantity %></span>
    </div>
    <% } %>
</div>
